* {
  box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0px;
    
}
.main-header{
			text-align:center;
			background-color:white;
			color:black;
            padding:10px;
    font-size: 200%
}  

/* Simple Responsive Framework. */

h1{
    
    color:white ;
    background-color: mediumslateblue;
    margin: 0% 0% 1% 100%;
    float: right;
    padding: 5px;
    font-size: 150%;
    border: 1px solid black;
    
    } 
.ap2 {
 border: 1px solid black;
 float:left;
 margin: 4px ;
 background-color: aquamarine
}
.n{
    padding: 5px
}

/********** Large devices only **********/

@media (min-width: 992px) {
  .ap2 {
    width: 30%;margin: 1.66%;
    
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .ap2 {
     width: 48%;margin: 1%
       
    
    }
    .ac{
        width:98%;
        margin: 1%;
    }
}













