
* {
  box-sizing: border-box;
}body {
  font-size: 16px;
  color: #fff;
  background-color: seashell;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: BLACK;
  border-radius: 0;
  border: 0;
}.navbar-brand {
  padding-top: auto;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: orangered;
  text-align: center;
    font-size: 120%
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid green;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/* END HEADER */
.s{
    
    font-size: 200%;
    color: black;
    font-weight: bold;
    
}

h2{
    text-align: center;
    color: brown;
    margin: 5px;
    font-weight:bold
}
.ap2 {
 border: 1px solid black;
 float:left;
 background-color:dimgrey;
    margin: 10px
        
}
.n{
    padding: 10px
}
/********** Large devices only **********/

@media (min-width: 992px) {
  .ap2 {
    width: 30%;margin: 1.66%;
    
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .ap2 {
     width: 48%;margin: 1%
       
    
    }
    .ac{
        width:98%;
        margin: 1%;
    }
}

